@{
  Layout = "_Layout";
}

  <div class='container'>
    <h1>The Story of The @Model.GetOccupation():</h1>
    <p>Today a @Model.GetOccupation() named @Model.GetNounFour() came to our school to talk to us about her job. She said the most important skill you need to know to do her job is to be able to @Model.GetVerbTwo() around (a) @Model.GetAdjectiveOne() @Model.GetNounThree(). She said it was easy for her to learn her job because she loved to @Model.GetVerbOne() when she was my age--and that helps a lot! If you're considering her profession, I hope you can be near (a) @Model.GetAdjectiveTwo() @Model.GetNounOne(). That's very important! If you get too distracted in that situation you won't be able to @Model.GetVerbThree() next to (a) @Model.GetNounTwo()!</p>
    <a href="/">Try Again</a>
  </div>
